<h2>Author</h2>
Rayan

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**



<ul>


<li>Some of the popular languages that Data Scientists use </li>
<li>Some of the commonly used libraries used by Data Scientists </li>
<li>examples of evaluating arithmetic expressions</li>

</ul>


Some of the popular languages that Data Scientists use are:

<ol>
  <li>Python</li>
  <li>R</li>
  <li>Scala</li>
    <ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li>Keras</li>
  <li>Pandas</li>
  <li>Tensorflow</li>
    <ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter</td>
  </tr>
  <tr>
    <td> Spyder</td>
  </tr>
     <tr>
    <td>Pycharm</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.

200 / 60

3.3333333333333335